{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}
  <link rel="icon" href="https://raw.githubusercontent.com/ivanhohlov14-bit/mars-encyclopedia/main/docs/assets/favicon.png" type="image/png">
  <link rel="shortcut icon" href="https://raw.githubusercontent.com/ivanhohlov14-bit/mars-encyclopedia/main/docs/assets/favicon.png" type="image/png">
{% endblock %}

{% block header %}
  <div style="padding: 10px; background: #2a2a4a; color: white; text-align: center;">
    <h1>Марсианская энциклопедия</h1>
    <p>Свободный справочник о мире «Письмо из Красной пыли»</p>
  </div>
  {{ super() }}
{% endblock %}
